@font-face {
  font-family: BalkaraFree;
  src: url("BalkaraFreeCondensed-npoekmu_me.ttf");
}

html * {
  font-family: BalkaraFree !important;
  font-size: 18px;
}

:root {
  --green: #b5e2dc;
  --yellow: #f4da92;
  --red: #f7c0b5;
}